In [5]:
import pandas as pd
import numpy as num

In [7]:
df=pd.read_json(r"C:\Users\pagod\OneDrive\Desktop\Python\Mappa-dei-pub-circoli-locali-in-Italia.json", encoding="latin1")

In [44]:
#numero totale di dati nel dataset
Total=df.size
print("il numero di dati totali nel file JSON è:",Total)

il numero di dati totali nel file JSON è: 22473

In [46]:
#visione dei metadati
metadati=df.dtypes
print("I metadati sono:",metadati)

I metadati sono: ccomune                              object
cprovincia                           object
cregione                             object
cnome                                object
canno_inserimento                     int64
cdata_e_ora_inserimento              object
cidentificatore_in_openstreetmap      int64
clongitudine                        float64
clatitudine                         float64
dtype: object

In [48]:
df

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,Ala di Stura,TORINO,Piemonte,,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2492,Barletta (BT),BARLETTA ANDRIA TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2493,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2494,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2495,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [64]:
primo_elemento=df.loc[1]
print("la prima riga è:",primo_elemento)

la prima riga è: ccomune                                            ALTRO
cprovincia                                         ALTRO
cregione                                           ALTRO
cnome                                        Lenny's Pub
canno_inserimento                                   2011
cdata_e_ora_inserimento             2011-07-29T17:22:56Z
cidentificatore_in_openstreetmap              1375887295
clongitudine                                   12.418681
clatitudine                                    46.747584
Name: 1, dtype: object

In [58]:
ultimo=df.tail
print("L'ultimo elemento è:",ultimo)

L'ultimo elemento è: <bound method NDFrame.tail of              ccomune             cprovincia  cregione            cnome  \
0              ALTRO                  ALTRO     ALTRO
1              ALTRO                  ALTRO     ALTRO      Lenny's Pub
2              ALTRO                  ALTRO     ALTRO  Murrayfield Pub
3              ALTRO                  ALTRO     ALTRO           Snop?e
4       Ala di Stura                 TORINO  Piemonte
...              ...                    ...       ...              ...
2492   Barletta (BT)  BARLETTA ANDRIA TRANI    Puglia      Santa Croce
2493  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia      Auld Dublin
2494  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia            Ferus
2495      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia          Re Artù
2496      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia     Well's Fargo

      canno_inserimento cdata_e_ora_inserimento  \
0                  2011    2011-06-25T23:17:43Z
1                  2011    2011-07-29T17:22:56Z
2                  2015    2015-10-24T09:28:06Z
3                  2010    2010-09-22T08:32:52Z
4                  2012    2012-05-21T14:28:45Z
...                 ...                     ...
2492               2010    2010-01-17T16:15:08Z
2493               2014    2014-03-03T20:56:16Z
2494               2014    2014-01-07T19:22:18Z
2495               2009    2009-09-04T07:57:05Z
2496               2009    2009-08-10T12:44:03Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
0                           1339088150     13.733257    45.575830
1                           1375887295     12.418681    46.747584
2                           3323888102      9.029585    45.831340
3                            921157802     13.640939    45.954607
4                           1760949034      7.307306    45.313150
...                                ...           ...          ...
2492                         615632993     16.285782    41.320671
2493                        2613737619     16.497204    41.241814
2494                        2613737620     16.506175    41.240957
2495                         482836935     16.418124    41.281518
2496                         387223648     16.436765    41.267264

[2497 rows x 9 columns]>

In [60]:
df.sample

<bound method NDFrame.sample of              ccomune             cprovincia  cregione            cnome  \
0              ALTRO                  ALTRO     ALTRO
1              ALTRO                  ALTRO     ALTRO      Lenny's Pub
2              ALTRO                  ALTRO     ALTRO  Murrayfield Pub
3              ALTRO                  ALTRO     ALTRO           Snop?e
4       Ala di Stura                 TORINO  Piemonte
...              ...                    ...       ...              ...
2492   Barletta (BT)  BARLETTA ANDRIA TRANI    Puglia      Santa Croce
2493  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia      Auld Dublin
2494  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia            Ferus
2495      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia          Re Artù
2496      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia     Well's Fargo

      canno_inserimento cdata_e_ora_inserimento  \
0                  2011    2011-06-25T23:17:43Z
1                  2011    2011-07-29T17:22:56Z
2                  2015    2015-10-24T09:28:06Z
3                  2010    2010-09-22T08:32:52Z
4                  2012    2012-05-21T14:28:45Z
...                 ...                     ...
2492               2010    2010-01-17T16:15:08Z
2493               2014    2014-03-03T20:56:16Z
2494               2014    2014-01-07T19:22:18Z
2495               2009    2009-09-04T07:57:05Z
2496               2009    2009-08-10T12:44:03Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
0                           1339088150     13.733257    45.575830
1                           1375887295     12.418681    46.747584
2                           3323888102      9.029585    45.831340
3                            921157802     13.640939    45.954607
4                           1760949034      7.307306    45.313150
...                                ...           ...          ...
2492                         615632993     16.285782    41.320671
2493                        2613737619     16.497204    41.241814
2494                        2613737620     16.506175    41.240957
2495                         482836935     16.418124    41.281518
2496                         387223648     16.436765    41.267264

[2497 rows x 9 columns]>

In [62]:
#mostrare gli anni in modo univoco
Anni=df["canno_inserimento"].unique()
print("gli anni unici sono:",Anni)

gli anni unici sono: [2011 2015 2010 2012 2014 2016 2013 2008 2009 2007]

In [78]:
#mostrare tutte le attivita che si trovano nel quandrate di lat(45/46), long(9/10)
#creo un filtro 

filtro=(df["clatitudine"]>=45) & (df["clatitudine"]<=46) & (df["clongitudine"]>=9) & (df["clongitudine"]<=10)
attivita=df.loc[filtro, "cnome"]
print("L'elenco delle attività nel quadrante è:",attivita)

L'elenco delle attività nel quadrante è: 2       Murrayfield Pub
342
343          Buenavista
346
347           Bray Hill
             ...
2469       Pane e trita
2470      The Quiet Man
2471    Bambu Pizza Pub
2472
2473    St. James' Gate
Name: cnome, Length: 303, dtype: object

In [80]:
#attività in provincia di Vicenza
filtro2=(df["cprovincia"]=="VICENZA")
attivita2=df.loc[filtro2,"cnome"]
print("Le attività in porvincia di Vicenza sono:",attivita2)

Le attività in porvincia di Vicenza sono: 966                    Ghel Pab
967              Maddarello 2.0
968              Vecchio Mulino
969                   Al Porton
970               Bar San Marco
                 ...
1034                Bar Carioca
1035                  Irish pub
1036            Miles Davis Pub
1037            Night Club Boys
1038    Sir William Wallace Pub
Name: cnome, Length: 73, dtype: object

In [82]:
df.columns

Index(['ccomune', 'cprovincia', 'cregione', 'cnome', 'canno_inserimento',
       'cdata_e_ora_inserimento', 'cidentificatore_in_openstreetmap',
       'clongitudine', 'clatitudine'],
      dtype='object')

In [17]:
#filtrare tutte le enoteche
attivita = df["cnome"]
attivita_filtro3 = []

for nome in attivita:
    if "enoteca" in nome.lower():
        attivita_filtro3.append(nome)
        print("Tra le enoteche abbiamo:", nome)
print("Il numero di enoteche nella tabella è:",len(attivita_filtro3))

Tra le enoteche abbiamo: Enoteca con Cucina""Tirolin""
Tra le enoteche abbiamo: Concordia Enoteca
Tra le enoteche abbiamo: Enoteca Umberto
Tra le enoteche abbiamo: Enoteca ""Al Brindisi""
Tra le enoteche abbiamo: Enoteca ""da Massimo""
Tra le enoteche abbiamo: Enoteca Il Violino Rosso
Il numero di enoteche nella tabella è: 6

In [2]:
import pandas as pd
import numpy

In [100]:
df=pd.read_csv(r"C:\Users\pagod\OneDrive\Desktop\Python\beginner_datasets\insurance.csv")

In [15]:
df.shape

(1338, 7)

In [17]:
df.sample(5)

      age     sex     bmi  children smoker     region      charges
836    36    male  31.500         0     no  southwest   4402.23300
1145   52    male  32.775         3     no  northwest  11289.10925
1030   46  female  23.655         1    yes  northwest  21677.28345
1211   39    male  34.100         2     no  southeast  23563.01618
827    36    male  28.025         1    yes  northeast  20773.62775

In [19]:
media_region=df.groupby("region")["charges"].mean()
print(media_region)

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [22]:
df["smoker"].value_counts()
filtro1=df["smoker"]=="yes"
filtro2=df["smoker"]=="no"
tab_fumatori=df.loc[filtro1]
tab_non_fumatori=df.loc[filtro2]
media_fumatori=tab_fumatori.groupby("smoker")["charges"].mean()
media_non_fumatori=tab_non_fumatori.groupby("smoker")["charges"].mean()
print("La media di spesa per i fumatori è:",media_fumatori)
print("La medi di spesa per i non fumatori è:",media_non_fumatori)

La media di spesa per i fumatori è: smoker
yes    32050.231832
Name: charges, dtype: float64
La medi di spesa per i non fumatori è: smoker
no    8434.268298
Name: charges, dtype: float64

In [104]:
desc=df["bmi"].describe()

In [108]:
filtro=(desc.loc["min"]<= df.bmi) & (df.bmi < desc.loc["25%"])
quartile=df.loc[filtro,"bmi"]
print("I valori per il primo quartile sono:\n",quartile)

I valori per il primo quartile sono:
 3       22.705
5       25.740
9       25.840
10      26.220
11      26.290
         ...
1316    20.600
1324    25.935
1328    24.225
1330    25.740
1336    25.800
Name: bmi, Length: 335, dtype: float64

In [28]:
valori_media=[]
vettore=df["bmi"].unique()
for valore in vettore:
    filtro=(df["bmi"]==valore)
    tab=df.loc[filtro]
    media=tab["charges"].mean()
    print(f"il valore medio per il percentile{valore} è: {media}")

il valore medio per il percentile27.9 è: 16884.924
il valore medio per il percentile33.77 è: 1700.0923
il valore medio per il percentile33.0 è: 6853.870486666667
il valore medio per il percentile22.705 è: 12047.779170000002
il valore medio per il percentile28.88 è: 8271.059949999999
il valore medio per il percentile25.74 è: 7666.50485
il valore medio per il percentile33.44 è: 8865.145349999999
il valore medio per il percentile27.74 è: 13540.359933333333
il valore medio per il percentile29.83 è: 14239.110866666664
il valore medio per il percentile25.84 è: 14117.803264000002
il valore medio per il percentile26.22 è: 8398.75705
il valore medio per il percentile26.29 è: 27808.7251
il valore medio per il percentile34.4 è: 11952.101
il valore medio per il percentile39.82 è: 5840.112133333333
il valore medio per il percentile42.13 è: 24162.47495
il valore medio per il percentile24.6 è: 7954.34
il valore medio per il percentile30.78 è: 21516.8756
il valore medio per il percentile23.845 è: 10407.27355
il valore medio per il percentile40.3 è: 10602.385
il valore medio per il percentile35.3 è: 22871.591499999995
il valore medio per il percentile36.005 è: 13228.84695
il valore medio per il percentile32.4 è: 4149.736
il valore medio per il percentile34.1 è: 12245.810147499998
il valore medio per il percentile31.92 è: 16625.842
il valore medio per il percentile28.025 è: 14167.978149999999
il valore medio per il percentile27.72 è: 7278.38755
il valore medio per il percentile23.085 è: 8078.267650000001
il valore medio per il percentile32.775 è: 18435.786249999997
il valore medio per il percentile17.385 è: 2775.19215
il valore medio per il percentile36.3 è: 27132.404
il valore medio per il percentile35.6 è: 35585.576
il valore medio per il percentile26.315 è: 5608.469650000001
il valore medio per il percentile28.6 è: 8152.682333333333
il valore medio per il percentile28.31 è: 15961.313253333334
il valore medio per il percentile36.4 è: 51194.55914
il valore medio per il percentile20.425 è: 1625.43375
il valore medio per il percentile32.965 è: 12326.7101
il valore medio per il percentile20.8 è: 2755.5435
il valore medio per il percentile36.67 è: 29400.7394775
il valore medio per il percentile39.9 è: 48173.361
il valore medio per il percentile26.6 è: 10825.844333333334
il valore medio per il percentile36.63 è: 19433.6967
il valore medio per il percentile21.78 è: 9078.26289
il valore medio per il percentile30.8 è: 16077.000124999999
il valore medio per il percentile37.05 è: 19866.828833333333
il valore medio per il percentile37.3 è: 20630.28351
il valore medio per il percentile38.665 è: 3393.35635
il valore medio per il percentile34.77 è: 6289.940299999999
il valore medio per il percentile24.53 è: 12629.8967
il valore medio per il percentile35.2 è: 16952.47428571429
il valore medio per il percentile35.625 è: 13236.93475
il valore medio per il percentile33.63 è: 20834.558763333334
il valore medio per il percentile28.0 è: 14615.347150000001
il valore medio per il percentile34.43 è: 13764.6442
il valore medio per il percentile28.69 è: 13023.3701
il valore medio per il percentile36.955 è: 26120.0507
il valore medio per il percentile31.825 è: 17067.10375
il valore medio per il percentile31.68 è: 34487.6572
il valore medio per il percentile22.88 è: 23244.7902
il valore medio per il percentile37.335 è: 5328.5656500000005
il valore medio per il percentile27.36 è: 12882.235808571428
il valore medio per il percentile33.66 è: 7250.0332
il valore medio per il percentile24.7 è: 16527.187542500003
il valore medio per il percentile25.935 è: 6512.983983333333
il valore medio per il percentile22.42 è: 17149.658460000002
il valore medio per il percentile28.9 è: 7383.5666
il valore medio per il percentile39.1 è: 14235.072
il valore medio per il percentile36.19 è: 22270.296910000005
il valore medio per il percentile23.98 è: 16022.227169999998
il valore medio per il percentile24.75 è: 16577.7795
il valore medio per il percentile28.5 è: 13101.531696
il valore medio per il percentile28.1 è: 11353.586000000001
il valore medio per il percentile32.01 è: 6964.103899999999
il valore medio per il percentile27.4 è: 7111.870000000001
il valore medio per il percentile34.01 è: 11356.6609
il valore medio per il percentile29.59 è: 4255.1276
il valore medio per il percentile35.53 è: 23457.148765
il valore medio per il percentile39.805 è: 5101.71245
il valore medio per il percentile26.885 è: 15203.584149999999
il valore medio per il percentile38.285 è: 7935.29115
il valore medio per il percentile37.62 è: 20466.023800000003
il valore medio per il percentile41.23 è: 8821.8857
il valore medio per il percentile34.8 è: 18623.628004285714
il valore medio per il percentile22.895 è: 19256.5536675
il valore medio per il percentile31.16 è: 17853.387400000003
il valore medio per il percentile27.2 è: 6969.6335
il valore medio per il percentile26.98 è: 14822.713533333334
il valore medio per il percentile39.49 è: 2794.562433333333
il valore medio per il percentile24.795 è: 15578.6538
il valore medio per il percentile31.3 è: 47291.055
il valore medio per il percentile38.28 è: 8663.714383333334
il valore medio per il percentile19.95 è: 9049.190833333334
il valore medio per il percentile19.3 è: 15820.699
il valore medio per il percentile31.6 è: 8718.327666666666
il valore medio per il percentile25.46 è: 10315.94786142857
il valore medio per il percentile30.115 è: 10539.915491666667
il valore medio per il percentile29.92 è: 10357.029966666667
il valore medio per il percentile27.5 è: 10998.578855
il valore medio per il percentile28.4 è: 2087.019
il valore medio per il percentile30.875 è: 12611.780613750001
il valore medio per il percentile27.94 è: 11176.374266666666
il valore medio per il percentile35.09 è: 47055.5321
il valore medio per il percentile29.7 è: 11386.0136
il valore medio per il percentile35.72 è: 10774.655159999998
il valore medio per il percentile32.205 è: 10161.79095
il valore medio per il percentile28.595 è: 11276.566135
il valore medio per il percentile49.06 è: 11381.3254
il valore medio per il percentile27.17 è: 10412.1138
il valore medio per il percentile23.37 è: 11634.487299999999
il valore medio per il percentile37.1 è: 7507.946999999999
il valore medio per il percentile23.75 è: 5504.1331666666665
il valore medio per il percentile28.975 è: 9243.83585
il valore medio per il percentile31.35 è: 17971.50344625
il valore medio per il percentile33.915 è: 9104.427099999999
il valore medio per il percentile28.785 è: 8805.00035
il valore medio per il percentile28.3 è: 19081.620000000003
il valore medio per il percentile37.4 è: 14803.632133333333
il valore medio per il percentile17.765 è: 32734.1863
il valore medio per il percentile34.7 è: 21239.9905
il valore medio per il percentile26.505 è: 12815.44495
il valore medio per il percentile22.04 è: 13616.3586
il valore medio per il percentile35.9 è: 11163.568
il valore medio per il percentile25.555 è: 8050.330783333334
il valore medio per il percentile28.05 è: 5719.657166666667
il valore medio per il percentile25.175 è: 7296.785916666667
il valore medio per il percentile31.9 è: 16601.49562
il valore medio per il percentile36.0 è: 5361.8195
il valore medio per il percentile32.49 è: 20194.641089999997
il valore medio per il percentile25.3 è: 14039.723000000002
il valore medio per il percentile29.735 è: 14098.278530000001
il valore medio per il percentile38.83 è: 12360.924773333332
il valore medio per il percentile30.495 è: 16754.22305
il valore medio per il percentile37.73 è: 7637.6122
il valore medio per il percentile37.43 è: 6175.4977
il valore medio per il percentile24.13 è: 12215.7762
il valore medio per il percentile37.145 è: 6334.34355
il valore medio per il percentile39.52 è: 6948.7008
il valore medio per il percentile24.42 è: 22237.116456666667
il valore medio per il percentile27.83 è: 16332.96237
il valore medio per il percentile36.85 è: 12265.474900000001
il valore medio per il percentile39.6 è: 10543.891666666666
il valore medio per il percentile29.8 è: 13156.673162500001
il valore medio per il percentile29.64 è: 14386.20393
il valore medio per il percentile28.215 è: 12436.8721
il valore medio per il percentile37.0 è: 6814.611500000001
il valore medio per il percentile33.155 è: 5714.582649999999
il valore medio per il percentile18.905 è: 4827.90495
il valore medio per il percentile41.47 è: 11295.635633333331
il valore medio per il percentile30.3 è: 5003.472000000001
il valore medio per il percentile15.96 è: 1694.7964
il valore medio per il percentile33.345 è: 12376.389116
il valore medio per il percentile37.7 è: 48824.45
il valore medio per il percentile27.835 è: 7940.099050000002
il valore medio per il percentile29.2 è: 10436.096
il valore medio per il percentile26.41 è: 11236.7139
il valore medio per il percentile30.69 è: 6854.1291
il valore medio per il percentile41.895 è: 43753.33705
il valore medio per il percentile30.9 è: 17857.763666666666
il valore medio per il percentile32.2 è: 20319.075666666668
il valore medio per il percentile32.11 è: 9170.595891428571
il valore medio per il percentile31.57 è: 8697.593799999999
il valore medio per il percentile26.2 è: 4883.866
il valore medio per il percentile30.59 è: 8082.722375714286
il valore medio per il percentile32.8 è: 24199.63625333333
il valore medio per il percentile18.05 è: 9644.2525
il valore medio per il percentile39.33 è: 14901.5167
il valore medio per il percentile32.23 è: 13544.656545000002
il valore medio per il percentile24.035 è: 10679.86965
il valore medio per il percentile36.08 è: 24372.418450000005
il valore medio per il percentile22.3 è: 4625.0925
il valore medio per il percentile26.4 è: 14968.285510000002
il valore medio per il percentile31.8 è: 13880.949
il valore medio per il percentile26.73 è: 3309.2747
il valore medio per il percentile23.1 è: 2483.736
il valore medio per il percentile23.21 è: 10699.798088
il valore medio per il percentile33.7 è: 7919.244
il valore medio per il percentile33.25 è: 8627.499833333333
il valore medio per il percentile24.64 è: 19515.5416
il valore medio per il percentile33.88 è: 23453.021416666666
il valore medio per il percentile38.06 è: 25542.834324285715
il valore medio per il percentile41.91 è: 12386.080680000001
il valore medio per il percentile31.635 è: 8266.15565
il valore medio per il percentile36.195 è: 7443.64305
il valore medio per il percentile17.8 è: 1727.785
il valore medio per il percentile24.51 è: 3938.4665666666665
il valore medio per il percentile22.22 è: 19444.2658
il valore medio per il percentile38.39 è: 28943.822766666668
il valore medio per il percentile29.07 è: 23247.0203
il valore medio per il percentile22.135 è: 5867.66915
il valore medio per il percentile26.8 è: 19533.130785
il valore medio per il percentile30.02 è: 19102.076227499998
il valore medio per il percentile35.86 è: 15636.74265
il valore medio per il percentile20.9 è: 11513.956
il valore medio per il percentile17.29 è: 7813.353433333334
il valore medio per il percentile34.21 è: 14932.727900000002
il valore medio per il percentile25.365 è: 16950.000213333333
il valore medio per il percentile40.15 è: 17110.462499999998
il valore medio per il percentile24.415 è: 11520.09985
il valore medio per il percentile25.2 è: 11837.16
il valore medio per il percentile26.84 è: 9375.1336
il valore medio per il percentile24.32 è: 14055.981457142856
il valore medio per il percentile42.35 è: 46151.1245
il valore medio per il percentile19.8 è: 7266.665666666667
il valore medio per il percentile32.395 è: 12150.923522000001
il valore medio per il percentile30.2 è: 17976.366333333335
il valore medio per il percentile29.37 è: 5133.5638
il valore medio per il percentile34.2 è: 20605.2982
il valore medio per il percentile27.455 è: 7439.56595
il valore medio per il percentile27.55 è: 9106.168249999999
il valore medio per il percentile20.615 è: 2803.69785
il valore medio per il percentile24.3 è: 4052.4966666666674
il valore medio per il percentile31.79 è: 19432.087167499998
il valore medio per il percentile21.56 è: 9855.1314
il valore medio per il percentile28.12 è: 14394.936549999999
il valore medio per il percentile40.565 è: 33541.58601666667
il valore medio per il percentile27.645 è: 13066.559164285716
il valore medio per il percentile31.2 è: 9625.92
il valore medio per il percentile26.62 è: 5749.9773000000005
il valore medio per il percentile48.07 è: 9432.9253
il valore medio per il percentile36.765 è: 29448.57969
il valore medio per il percentile33.4 è: 17461.14311
il valore medio per il percentile45.54 è: 42112.2356
il valore medio per il percentile28.82 è: 2156.7518
il valore medio per il percentile22.99 è: 15368.082766666668
il valore medio per il percentile27.7 è: 8755.409
il valore medio per il percentile25.41 è: 21978.6769
il valore medio per il percentile34.39 è: 25245.1446
il valore medio per il percentile22.61 è: 9811.41565
il valore medio per il percentile37.51 è: 10785.1044
il valore medio per il percentile38.0 è: 10069.535666666665
il valore medio per il percentile33.33 è: 14032.503765714288
il valore medio per il percentile34.865 è: 7422.04185
il valore medio per il percentile33.06 è: 7749.1564
il valore medio per il percentile35.97 è: 18246.2133
il valore medio per il percentile31.4 è: 24221.497333333333
il valore medio per il percentile25.27 è: 9903.4363
il valore medio per il percentile40.945 è: 11566.30055
il valore medio per il percentile34.105 è: 23987.6007
il valore medio per il percentile36.48 è: 22597.85034
il valore medio per il percentile33.8 è: 47928.03
il valore medio per il percentile36.7 è: 9144.565
il valore medio per il percentile36.385 è: 29977.15065
il valore medio per il percentile34.5 è: 13822.803
il valore medio per il percentile32.3 è: 14100.05772
il valore medio per il percentile27.6 è: 14942.895108000002
il valore medio per il percentile29.26 è: 5357.730149999999
il valore medio per il percentile35.75 è: 27815.46483333333
il valore medio per il percentile23.18 è: 9868.629729999999
il valore medio per il percentile25.6 è: 13233.9825
il valore medio per il percentile35.245 è: 11899.472324999999
il valore medio per il percentile43.89 è: 27572.5501
il valore medio per il percentile20.79 è: 1607.5101
il valore medio per il percentile30.5 è: 7646.939249999999
il valore medio per il percentile21.7 è: 13844.506
il valore medio per il percentile21.89 è: 3180.5101
il valore medio per il percentile24.985 è: 15629.26784
il valore medio per il percentile32.015 è: 26913.23835
il valore medio per il percentile30.4 è: 12038.483079999998
il valore medio per il percentile21.09 è: 13415.0381
il valore medio per il percentile22.23 è: 7602.787200000001
il valore medio per il percentile32.9 è: 14403.010333333332
il valore medio per il percentile24.89 è: 21659.9301
il valore medio per il percentile31.46 è: 14439.457065
il valore medio per il percentile17.955 è: 15006.57945
il valore medio per il percentile30.685 è: 28030.11615
il valore medio per il percentile43.34 è: 5846.9176
il valore medio per il percentile39.05 è: 22957.9895
il valore medio per il percentile30.21 è: 16582.65495
il valore medio per il percentile31.445 è: 11469.25805
il valore medio per il percentile19.855 è: 6492.37645
il valore medio per il percentile31.02 è: 19455.80277
il valore medio per il percentile38.17 è: 15428.876966666669
il valore medio per il percentile20.6 è: 5498.237
il valore medio per il percentile47.52 è: 8083.9198
il valore medio per il percentile20.4 è: 3260.199
il valore medio per il percentile38.38 è: 12173.485700000001
il valore medio per il percentile24.31 è: 6986.981900000001
il valore medio per il percentile23.6 è: 6735.659
il valore medio per il percentile21.12 è: 6652.5288
il valore medio per il percentile30.03 è: 5057.570699999999
il valore medio per il percentile17.48 è: 1621.3402
il valore medio per il percentile20.235 è: 7722.5619
il valore medio per il percentile17.195 è: 14455.64405
il valore medio per il percentile23.9 è: 5080.096
il valore medio per il percentile35.15 è: 2134.9015
il valore medio per il percentile35.64 è: 7345.7266
il valore medio per il percentile22.6 è: 10532.882
il valore medio per il percentile39.16 è: 9840.709733333335
il valore medio per il percentile27.265 è: 10789.316672500001
il valore medio per il percentile29.165 è: 7323.734818999999
il valore medio per il percentile16.815 è: 4904.00035
il valore medio per il percentile33.1 è: 13917.484082500001
il valore medio per il percentile26.9 è: 5969.723000000001
il valore medio per il percentile33.11 è: 23126.36465
il valore medio per il percentile31.73 è: 16973.5177
il valore medio per il percentile46.75 è: 12592.5345
il valore medio per il percentile29.45 è: 2897.3235
il valore medio per il percentile32.68 è: 13881.48728
il valore medio per il percentile33.5 è: 37079.372
il valore medio per il percentile43.01 è: 1149.3959
il valore medio per il percentile36.52 è: 28287.89766
il valore medio per il percentile26.695 è: 15608.553049999999
il valore medio per il percentile25.65 è: 11454.0215
il valore medio per il percentile29.6 è: 9132.684315
il valore medio per il percentile38.6 è: 7543.7675
il valore medio per il percentile23.4 è: 2441.5915000000005
il valore medio per il percentile46.53 è: 4683.025699999999
il valore medio per il percentile30.14 è: 6506.7381000000005
il valore medio per il percentile30.0 è: 12524.060000000001
il valore medio per il percentile38.095 è: 32905.48159666667
il valore medio per il percentile28.38 è: 19521.9682
il valore medio per il percentile28.7 è: 8533.0666
il valore medio per il percentile33.82 è: 10539.2232825
il valore medio per il percentile24.09 è: 2201.0971
il valore medio per il percentile32.67 è: 6652.2623
il valore medio per il percentile25.1 è: 25382.297
il valore medio per il percentile32.56 è: 21382.7854
il valore medio per il percentile41.325 è: 13694.954393333333
il valore medio per il percentile39.5 è: 5781.3324999999995
il valore medio per il percentile34.3 è: 9563.029
il valore medio per il percentile31.065 è: 11681.417100000002
il valore medio per il percentile21.47 è: 5843.758966666667
il valore medio per il percentile25.08 è: 10740.976412
il valore medio per il percentile43.4 è: 12574.049
il valore medio per il percentile25.7 è: 13521.952000000001
il valore medio per il percentile27.93 è: 8989.60594
il valore medio per il percentile39.2 è: 13470.86
il valore medio per il percentile26.03 è: 6439.5603
il valore medio per il percentile30.25 è: 18126.3475
il valore medio per il percentile28.93 è: 9889.001366666665
il valore medio per il percentile35.7 è: 11362.755
il valore medio per il percentile35.31 è: 23265.217109999998
il valore medio per il percentile31.0 è: 5364.5135
il valore medio per il percentile44.22 è: 4130.1718
il valore medio per il percentile26.07 è: 38245.59327
il valore medio per il percentile25.8 è: 5665.668428571429
il valore medio per il percentile39.425 è: 8342.90875
il valore medio per il percentile40.48 è: 13831.1152
il valore medio per il percentile38.9 è: 5972.378000000001
il valore medio per il percentile47.41 è: 63770.42801
il valore medio per il percentile35.435 è: 3268.84665
il valore medio per il percentile46.7 è: 11538.421
il valore medio per il percentile46.2 è: 45863.205
il valore medio per il percentile21.4 è: 11511.265500000001
il valore medio per il percentile23.8 è: 3847.674
il valore medio per il percentile44.77 è: 9058.7303
il valore medio per il percentile32.12 è: 2801.2588
il valore medio per il percentile29.1 è: 3761.292
il valore medio per il percentile37.29 è: 4099.29785
il valore medio per il percentile43.12 è: 4753.6368
il valore medio per il percentile36.86 è: 26732.92062
il valore medio per il percentile34.295 è: 13224.05705
il valore medio per il percentile23.465 è: 4804.39135
il valore medio per il percentile45.43 è: 6356.2707
il valore medio per il percentile23.65 è: 17626.23951
il valore medio per il percentile20.7 è: 1242.816
il valore medio per il percentile28.27 è: 5132.034799999999
il valore medio per il percentile35.91 è: 20013.949095

In [32]:
iris=pd.read_csv(r"C:\Users\pagod\OneDrive\Desktop\Python\beginner_datasets\iris.csv")

In [34]:
iris.sample(5)

     sepal_length  sepal_width  petal_length  petal_width         species
129           7.2          3.0           5.8          1.6  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
36            5.5          3.5           1.3          0.2     Iris-setosa
37            4.9          3.1           1.5          0.1     Iris-setosa

In [42]:
print("La media della lunghezza dei petali è:",iris["petal_length"].mean())

La media della lunghezza dei petali è: 5.843333333333334

In [56]:
tabella= iris.groupby("species")["petal_length"].mean()
print("La media della lunghezza dei petali per specie è:\n", tabella)

La media della lunghezza dei petali per specie è:
 species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [54]:
statistiche = iris.groupby("species")["petal_length"].agg(['mean', 'min', 'max'])

print("Statistiche della lunghezza dei petali per specie:\n", statistiche)

Statistiche della lunghezza dei petali per specie:
                   mean  min  max
species
Iris-setosa      1.464  1.0  1.9
Iris-versicolor  4.260  3.0  5.1
Iris-virginica   5.552  4.5  6.9

In [62]:

mean = iris.groupby("species")["sepal_width"].mean()

min = iris.groupby("species")["sepal_width"].min()

max = iris.groupby("species")["sepal_width"].max()

print("Media della larghezza dei petali per specie:\n", mean)
print("Minimo della larghezza dei petali per specie:\n", min)
print("Massimo della larghezza dei petali per specie:\n", max)

Media della larghezza dei petali per specie:
 species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: sepal_width, dtype: float64
Minimo della larghezza dei petali per specie:
 species
Iris-setosa        2.3
Iris-versicolor    2.0
Iris-virginica     2.2
Name: sepal_width, dtype: float64
Massimo della larghezza dei petali per specie:
 species
Iris-setosa        4.4
Iris-versicolor    3.4
Iris-virginica     3.8
Name: sepal_width, dtype: float64

In [110]:
wine=pd.read_csv(r"C:\Users\pagod\OneDrive\Desktop\Python\beginner_datasets\wine.csv")

In [66]:
wine.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [68]:
wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [98]:
media_per_qualita= wine.groupby("quality")["alcohol"].agg(['mean'])
print("la tabella ci da informazioni sulla media alcoholica per qualità è:\n", media_per_qualita)

la tabella ci da informazioni sulla media alcoholica per qualità è:
               mean
quality
3        10.215000
4        10.180093
5         9.837783
6        10.587553
7        11.386006
8        11.678756
9        12.180000

In [124]:
media=wine.alcohol.mean()
print("La media della gradazione alcoholica su tutti i vini è:",media)

La media della gradazione alcoholica su tutti i vini è: 10.491800831149453

In [114]:
rossi_bianchi=wine.groupby("type")["alcohol"].mean()
print("Le concetrazioni medi per vini bianchi o rossi sono:\n",rossi_bianchi)

Le concetrazioni medi per vini bianchi o rossi sono:
 type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

In [118]:
rossi_bianchi=wine.groupby("type")["pH"].mean()
print("I pH medi per vini bianchi o rossi sono:\n",rossi_bianchi)

I pH medi per vini bianchi o rossi sono:
 type
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [128]:
rossi_bianchi=wine.groupby("type")["total sulfur dioxide"].mean()
print("I solfati medi per vini bianchi o rossi sono:\n",rossi_bianchi)

I solfati medi per vini bianchi o rossi sono:
 type
red       46.467792
white    138.360657
Name: total sulfur dioxide, dtype: float64

In [130]:
boston=pd.read_csv(r"C:\Users\pagod\OneDrive\Desktop\Python\beginner_datasets\boston.csv")

In [132]:
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [134]:
media_prezzo_dist_fiume = boston.groupby('chas')['medv'].mean()
print("Media del valore mediano delle case per distanza dal fiume:")
print(media_prezzo_dist_fiume)

Media del valore mediano delle case per distanza dal fiume:
chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [136]:
boston.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
103,0.21161,0.0,8.56,0,0.520,6.137,87.4,2.7147,5,384,20.9,394.47,13.44,19.3
387,22.59710,0.0,18.10,0,0.700,5.000,89.5,1.5184,24,666,20.2,396.90,31.99,7.4
476,4.87141,0.0,18.10,0,0.614,6.484,93.6,2.3053,24,666,20.2,396.21,18.68,16.7
251,0.21409,22.0,5.86,0,0.431,6.438,8.9,7.3967,7,330,19.1,377.07,3.59,24.8
229,0.44178,0.0,6.20,0,0.504,6.552,21.4,3.3751,8,307,17.4,380.34,3.76,31.5

In [138]:
boston_order = boston.sort_values(by='crim')[['crim', 'medv']]

print("Prezzo delle case (MEDV) ordinato per tasso di criminalità (CRIM):")
print(boston_order)

Prezzo delle case (MEDV) ordinato per tasso di criminalità (CRIM):
         crim  medv
0     0.00632  24.0
284   0.00906  32.2
285   0.01096  22.0
341   0.01301  32.7
55    0.01311  35.4
..        ...   ...
414  45.74610   7.0
410  51.13580  15.0
405  67.92080   5.0
418  73.53410   8.8
380  88.97620  10.4

[506 rows x 2 columns]

In [140]:
media_rm_ptratio = boston.groupby('ptratio')['rm'].mean()

print("Media del numero medio di stanze per abitazione rispetto al rapporto alunni-insegnanti:")
print(media_rm_ptratio)

Media del numero medio di stanze per abitazione rispetto al rapporto alunni-insegnanti:
ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64

In [142]:
media_medv_ptratio = boston.groupby('ptratio')['medv'].mean()

print("Media del valore mediano delle case rispetto al rapporto alunni-insegnanti:")
print(media_medv_ptratio)

Media del valore mediano delle case rispetto al rapporto alunni-insegnanti:
ptratio
12.6    32.733333
13.0    38.025000
13.6    50.000000
14.4    50.000000
14.7    25.717647
14.8    25.433333
14.9    40.475000
15.1    31.600000
15.2    26.276923
15.3    26.066667
15.5    32.700000
15.6    30.100000
15.9    30.250000
16.0    24.320000
16.1    24.880000
16.4    23.216667
16.6    23.856250
16.8    22.150000
16.9    19.640000
17.0    30.600000
17.3    24.700000
17.4    33.544444
17.6    30.700000
17.8    26.956522
17.9    22.363636
18.0    33.100000
18.2    22.150000
18.3    27.100000
18.4    23.131250
18.5    23.800000
18.6    24.335294
18.7    25.122222
18.8    17.350000
18.9    20.100000
19.0    24.900000
19.1    22.894118
19.2    22.805263
19.6    22.575000
19.7    21.787500
20.1    12.800000
20.2    16.611429
20.9    21.118182
21.0    17.351852
21.1    18.900000
21.2    17.093333
22.0    19.400000
Name: medv, dtype: float64

In [144]:

media_age_rad = boston.groupby('rad')['age'].mean()

print("Media dell'età delle abitazioni rispetto all'accessibilità alle autostrade radiali:")
print(media_age_rad)

Media dell'età delle abitazioni rispetto all'accessibilità alle autostrade radiali:
rad
1     45.025000
2     64.770833
3     49.310526
4     60.841818
5     69.223478
6     60.142308
7     40.141176
8     67.350000
24    89.805303
Name: age, dtype: float64

In [146]:
media_tax_rm_rad = boston.groupby('rad')[['tax', 'rm']].mean()


print("Media delle tasse fondiarie e del numero medio di stanze per abitazione rispetto all'indice di accessibilità alle autostrade radiali:")
print(media_tax_rm_rad)

Media delle tasse fondiarie e del numero medio di stanze per abitazione rispetto all'indice di accessibilità alle autostrade radiali:
            tax        rm
rad
1    291.450000  6.555850
2    260.666667  6.649958
3    246.078947  6.473026
4    335.981818  6.133118
5    331.843478  6.393157
6    372.884615  6.104731
7    304.411765  6.647765
8    301.250000  6.950792
24   666.000000  6.022152

In [148]:
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })

In [150]:
merged_df = pd.merge(employees_df, departments_df, on='department_id')
print("DataFrame risultante dopo l'unione:")
print(merged_df)

DataFrame risultante dopo l'unione:
   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          103  Charlie              1              HR       New York
2          102      Bob              2              IT  San Francisco
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [152]:
employees_df.set_index('department_id', inplace=True)
departments_df.set_index('department_id', inplace=True)
joined_df = employees_df.join(departments_df, how='inner')
print("DataFrame risultante dopo l'unione mediante join:")
print(joined_df)

DataFrame risultante dopo l'unione mediante join:
               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
1                      103  Charlie              HR       New York
2                      102      Bob              IT  San Francisco
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

In [160]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd
dotenv.load_dotenv(dotenv_path=".env", override=True)
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)
query= "SELECT * FROM dimemployeesalesterritory"
df1=pd.read_sql(query,db_engine)

In [162]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd
dotenv.load_dotenv(dotenv_path=".env", override=True)
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)
query= "SELECT * FROM dimemployee"
df2=pd.read_sql(query,db_engine)

In [164]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd
dotenv.load_dotenv(dotenv_path=".env", override=True)
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)
query= "SELECT * FROM dimsalesterritory"
df3=pd.read_sql(query,db_engine)

In [166]:
df_merged = pd.merge(df1, df2, left_on='EmployeeKey', right_on='EmployeeKey', how='inner')
print("DataFrame risultante dopo il join tra df1 e df2:")
print(df_merged.head())
print(f"Dimensione del DataFrame risultante: {df_merged.shape}")

DataFrame risultante dopo il join tra df1 e df2:
   EmployeeKey  SalesTerritoryKey  ParentEmployeeKey  \
0          272                  1              277.0
1          272                  2              277.0
2          272                  3              277.0
3          272                  4              277.0
4          272                  5              277.0

   EmployeeNationalIDAlternateKey  ParentEmployeeNationalIDAlternateKey  \
0                       502097814                           112432117.0
1                       502097814                           112432117.0
2                       502097814                           112432117.0
3                       502097814                           112432117.0
4                       502097814                           112432117.0

  FirstName LastName MiddleName  NameStyle                         Title  ...  \
0   Stephen    Jiang          Y          0  North American Sales Manager  ...
1   Stephen    Jiang          Y          0  North American Sales Manager  ...
2   Stephen    Jiang          Y          0  North American Sales Manager  ...
3   Stephen    Jiang          Y          0  North American Sales Manager  ...
4   Stephen    Jiang          Y          0  North American Sales Manager  ...

  Gender PayFrequency BaseRate VacationHours SickLeaveHours CurrentFlag  \
0      M            2   48.101            14             27           1
1      M            2   48.101            14             27           1
2      M            2   48.101            14             27           1
3      M            2   48.101            14             27           1
4      M            2   48.101            14             27           1

  SalesPersonFlag DepartmentName  \
0               1          Sales
1               1          Sales
2               1          Sales
3               1          Sales
4               1          Sales

                                       EmployeePhoto       Position
0  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...  Sales Manager
1  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...  Sales Manager
2  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...  Sales Manager
3  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...  Sales Manager
4  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...  Sales Manager

[5 rows x 29 columns]
Dimensione del DataFrame risultante: (39, 29)

In [178]:

df_final = pd.merge(df_merged, df3, left_on='SalesTerritoryKey', right_on='SalesTerritoryKey', how='inner')


count_by_country_region = df_final.groupby(['SalesTerritoryCountry', 'SalesTerritoryRegion']).size()


print("Conteggio dei dipendenti per ogni paese e regione:")
print(count_by_country_region)

mean_baserate_by_country = df_final.groupby('SalesTerritoryCountry')['BaseRate'].mean()

print("Media del BaseRate per ogni paese:")
print(mean_baserate_by_country)

Conteggio dei dipendenti per ogni paese e regione:
SalesTerritoryCountry  SalesTerritoryRegion
Australia              Australia               3
Canada                 Canada                  4
France                 France                  4
Germany                Germany                 3
United Kingdom         United Kingdom          3
United States          Central                 5
                       Northeast               3
                       Northwest               5
                       Southeast               4
                       Southwest               5
dtype: int64
Media del BaseRate per ogni paese:
SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64