In [1]:
import numpy as np
list=[1,2,3,4,5]
array=np.array(list)
type(array)

numpy.ndarray

In [6]:
import pandas as pd
data={"cybersecurity": [10, 20, 30],
      "data_analyst":[40, 50, 60]}
studenti=pd.DataFrame(data, index=["anno1","anno2","anno3"])
studenti

       cybersecurity  data_analyst
anno1             10            40
anno2             20            50
anno3             30            60

In [10]:
import pandas as pd
pd.Series([1,2,3,4,5,6,7])

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [12]:
import pandas as pd
pd.Series([1,2,3,4,5,6,7], 
          index=list("abcdefg"))

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [14]:
import pandas 
mat=[[0,1,2,3,4],[3,6,7,8,9],[10,11,12,13,14]]

In [18]:
import math
math.degrees(math.pi*2)

360.0

In [73]:
Quantita={"Quantita": [2000, 5000, 4445, 22, 2355, 5325, 5253, 1111, 3333, 4444, 3333, 5435]}
mese=pd.DataFrame(Quantita,index=["Gennaio","Febbraio",
                                   "Marzo","Aprile","Maggio","Ggiugno","Luglio","Agosto","Settembre","Ottobre","Novembre","Dicembre"])
mese

           Quantita
Gennaio        2000
Febbraio       5000
Marzo          4445
Aprile           22
Maggio         2355
Ggiugno        5325
Luglio         5253
Agosto         1111
Settembre      3333
Ottobre        4444
Novembre       3333
Dicembre       5435

In [81]:
print(mese.max())

Quantita    5435
dtype: int64

In [79]:
mese_con_piu_vendite = mese['Quantita'].idxmax()
print("Il mese con più vendite è:", mese_con_piu_vendite)

Il mese con più vendite è: Dicembre

In [77]:
mese_con_meno_vendite = mese['Quantita'].idxmin()
print("Il mese con meno vendite è:", mese_con_meno_vendite)

Il mese con meno vendite è: Aprile

In [75]:
mesi_superiori_3999 = mese[mese["Quantita"] > 3999]

print("Mesi con vendite superiori a 3999:")
print(mesi_superiori_3999)

Mesi con vendite superiori a 3999:
          Quantita
Febbraio      5000
Marzo         4445
Ggiugno       5325
Luglio        5253
Ottobre       4444
Dicembre      5435

In [105]:
import numpy as np
stipendi=np.array([100,200, 300, 400, 400, 500, 340, 506])
for stipendio in stipendi:
    stipendio_doppio=stipendio*2
    print("lo stipendio raddoppiato è:",stipendio_doppio)

lo stipendio raddoppiato è: 200
lo stipendio raddoppiato è: 400
lo stipendio raddoppiato è: 600
lo stipendio raddoppiato è: 800
lo stipendio raddoppiato è: 800
lo stipendio raddoppiato è: 1000
lo stipendio raddoppiato è: 680
lo stipendio raddoppiato è: 1012

In [111]:
print("lo stipendio raddoppiato è:",stipendi*2)

lo stipendio raddoppiato è: [ 200  400  600  800  800 1000  680 1012]